---
// src/pages/index.astro
import HomeLayout from '../layouts/HomeLayout.astro';
---

<HomeLayout>
  <main class="relative flex items-center justify-center min-h-screen">
    <div class="max-w-xl mx-auto p-4">
      <img 
        src="/images/daft_book.jpg" 
        alt="Homepage Image" 
        class="w-full rounded-2xl shadow-lg"
      />
    </div>
  </main>
</HomeLayout>