---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <main class="max-w-4xl mx-auto px-4 py-8">
      <article>
        <slot />
      </article>
    </main>
  </body>
</html>